<!-- heredamos del template base-->

{% extends 'main/base.html' %}

<!-- cargamos los recursos estaticos-->
{% load static %}

<!-- identificamos el contenido dinamico del titulo-->
{% block title %}Cuentas{% endblock %}

<!-- identificamos el contenido dinamico del imagen de fondo-->
{% block background %}{% static 'main/img/portfolio-bg.jpg' %}{% endblock %}


<!-- identificamos el contenido dinamico del header-->
{% block headers %}
    <h1>Cuentas</h1>
{% endblock %}


<!-- mostramos los proyectos de la base de datos-->
{% block content %}

<!-- usamos el template tag for que nos permite iterar y mostrar atributos-->

<div class="col-lg-5 col-md-2 offset-lg-3 offset-md-3">
<table class="table table-bordered">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Importe</th>

      </tr>
    </thead>
    <tbody>
  



    {% for mov in movimientos %} 
        <!-- Proyecto -->
        <tr>
            <th scope="row">{{mov.id}}</th>
            <td>{{mov.fecha}}</td>
            <td>{{mov.importe}}</td>
          </tr>
    {% endfor %}

</tbody>
</table>
</div>

{% endblock %}