{% extends 'main/base.html' %}

{% load static %}
{% block title %}Contacto{% endblock %}

{% block background %}{% static 'main/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Prestamos</h1>
    <span class="subheading">Solicita Tu Prestamo</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
      <!-- Formulario de contacto-->
      {% if 'ok' in request.GET %}
        <p><b>Su prestamo ya fue aprobado, ya tiene disponible el dinero en su cuenta!</b></p>
{% else %}
     <form action="" method="POST">
      {% csrf_token %}
        <div class="form-group">
          <table>
            {{form.as_p}}
          </table>
          <input type="submit" value="Enviar" />
        </div>
    
        </form>
    <!--{{request.POST}}-->
    {% endif %}
    </div>
</div>
{% endblock %}